<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Contact MyComingle </TITLE>
</HEAD>
<BODY>
A contact us form has been submitted on MyComingle.com, below are the details:

<table>
	<tr>
		<td style="font-weight: bold; text-align: right">Name:</td>
		<td>[CONTACT_NAME]</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right">Email:</td>
		<td>[CONTACT_EMAIL]</td>
	</tr>
	<tr>
		<td style="font-weight: bold; text-align: right; vertical-align: top">Question/Comment:</td>
		<td>[CONTACT_COMMENT]</td>
	</tr>
</table>

</BODY>
</HTML>
