<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Welcome To My Comingle </TITLE>
</HEAD>
<BODY>
Dear [EMAIL],
Thank you for signing up with www.mycomingle.com. <br /><br />Here's your activation code: [ACTIVATION_CODE].<br /><br />
<a href="[SERVER]app/processor.php?controller=member&action=activate&activation_code=[ACTIVATION_CODE]">Click here to activate your account</a><br /><br />
Thank you <br /><br />
<img src="[SERVER]app/images/general/logo.png">
</BODY>
</HTML>
