<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> Welcome To My Comingle </TITLE>
</HEAD>
<BODY>
Thanks for joining the MyComingle family. Now you'll be able to access the most popular sites from 1 smart dashboard. If you need some help along the way, check out our FAQ's or just email us at <a href="mailto: helpme@mycomingle.com">helpme@mycomingle.com</a><br />
We want to "simplify your digital life"!<br /><br />
<img src="[SERVER]app/images/general/logo.png">
</BODY>
</HTML>
